
@{
    ViewBag.Title = "NotificationOne";
}

<div style="text-align:center;">
    <h2>Thank You For Registering Your Organisation</h2>
    <h4>You will be contacted within the next 24hrs to confirm your account</h4>
    @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "btn btn-default" })
</div>
