<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net461" />
  <package id="Geocoder" version="0.1.0.0" targetFramework="net461" />
  <package id="Geocoding.net" version="3.4.0" targetFramework="net461" />
  <package id="Geolocation" version="1.0.0" targetFramework="net461" />
  <package id="GoogleMaps.LocationServices" version="0.9.8.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net461" />
  <package id="Shorthand.Geodesy" version="1.1.0" targetFramework="net461" />
</packages>