@model WeFix.Domain.Entities.Fault
@{
    ViewBag.Title = "ThanksForReporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="example-modal">
    <div class="modal modal-guardian">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thanks For Reporting</h4>
            </div>
            <div class="modal-body">
                <p>We Fix appreciates your input. We will get back too as soon as possible and keep you up to date with the progess</p>
                <p>Your reference number is: @Html.Label(Model.FaultId.ToString())</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="location.href='@Url.Action("Index","Home",null)'"  class="btn btn-outline pull-left" data-dismiss="modal">HOME</button>
                <button type="button" onclick="location.href='@Url.Action("ReportFault","Faults",null)'" class="btn btn-outline">MAKE ANOTHER REPORT</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>