@{
    ViewBag.Title = "About";
}
<div style="position:relative;z-index:5; color:#fff; padding-left:25px;padding-right:25px;">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
            </h1>
            <p>
                Are you sick and tired of potholes, broken traffic lights and other infrastructural faults? Let the WeFixers do the dirty work! Use our application to report any infrastructural faults and have them sent directly to those responsible to be dealt with in record time. There are incentives involved, so get reporting!
            </p>
            <p>
                WeFix is a mobile application designed for the convenience of ordinary citizens such as yourself in order to report any infrastructural faults that you may come across. WeFix acts as the middle man and passes your complaint directly on to those responsible for sorting it out.
            </p>
            <p>
                WeFix is designed by third year Information Systems students at The University of Cape Town and is sponsored by OpenBox Software.
            </p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#fff;">Our Team</h2>
        </div>
        <div class="col-sm-3 text-center">
            <img src="~/Content/img/The Team/Alistair.png" class="img-circle img-thumbnail img-responsive img-center" alt="Alistair" width="150" height="150" />
            <h3 style="color:#fff">
                Alistair Bowen-Davies                
            </h3>
            <address style="color:#fff">
                Lead Developer
            </address>
        </div>
        <div class="col-sm-3 text-center">
            <img src="~/Content/img/The Team/Arnold.png" class="img-circle img-thumbnail img-responsive img-center" alt="" width="150" height="150"/>            
            <h3 style="color:#fff">
                Arnold Chinaka
            </h3>
            <address style="color:#fff">
                Quality Assurance Manager
            </address>
        </div>
        <div class="col-sm-3 text-center">
            <img class="img-circle img-thumbnail img-responsive img-center" src="~/Content/img/The Team/Raessa.png" alt="Raessa" width="150" height="150">
            <h3 style="color:#fff">
                Raeesa Behardien
            </h3>
            <address style="color:#fff">
                Project Manager
            </address>
        </div>
        <div class="col-sm-3 text-center">
            <img class="img-circle img-responsive img-thumbnail img-center" src="~/Content/img/The Team/Mishka.png" alt="Mishka" width="150" height="150" />
            <h3 style="color:#fff">
                Mishka Kamaldien
            </h3>
            <address style="color:#fff">
                Documentation Manager
            </address>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <h4 style="text-align:center;color:#fff">Sponsored By</h4>
            <img src="~/Content/img/OpenBox.png" class="img-responsive img-center center-block" alt="Open Box" width="155" height="155" />
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel center-block" style="width:400px;">
                <div class="panel-heading"><H4 style="color:#fff;text-align:center;">Quick Tutorial</H4></div>
                <div class="panel-body">
                    <video src="~/Content/Video/Odette Schoeman.mp4" style="width:100%; height:350px" controls="controls" loop="loop" >
                        
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>