
@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

        <p>
            We could not find the page you were looking for.
            Meanwhile, you may @Html.ActionLink("Return to Home", "Index", "Manage", null, null) or try using the search form.
        </p>

        @* BEGIN Search *@
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "sidebar-form" }))
        {
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        }
        @* END Search *@
        @* BEGIN Menu *@
    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->